body {
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 400;
}

h3 {
	font-size: 16px;
	font-weight: 800;
}

h5 {
	font-style: italic;
	color: #ccc;
}

.top-bar {
  background: #c79eda;
  /* position: fixed; */
  z-index: 1999;
  top: 0;
  left: 0;
  height: 2px;
}

.title {
	font-family: 'EB Garamond';
	font-size: 70px;
	padding-top: 15%;
	font-style: italic;
}

/* Footnote */
.footnote {
	font-size: 11px !important;
	position: fixed !important;
	right: 20px;
	bottom: 10px;
	width: 300px;
	line-height: 10px !important;
	z-index: 100;
}

.sub-title {
	font-family: 'EB Garamond';
	font-size: 27px;
	font-style: italic;
}

/*.results-container {
   padding-top: 9%;
}*/

.result-container {
   float: center;
}

/*.result-text {
  padding-left: 0px;
}
*/